.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-size: 12px;
}

button {
  width: 200px;
  height: 48px;
  border-radius: 50px;
  border: none;
  padding: 4px 16px;
  color: #fff;
  background-color: #099e60;
  margin: 8px;
}

.outputArea {
  margin-bottom: 40px;
}
